
/*colors used in prev music hst
background-color: #ffb4b0;
 background: #FFB4B0 ;
 color: #778899;
 side bar left was background:  #4DD7FA*/

/*.test1 {
  background: #FFB4B0 ;
  
}*/

/*
.unOrdFlexList article:nth-child(2n+1) {
background: #FFF5EE;
padding: 10px;
}

ul article:nth-child(2n+0) {
  background: #F5FFFA;
  padding: 10px;
}

.main {
  flex-grow: 5;
  margin-top: 5em;
  background: #FEFAC0;


}*/

